.login{
    width: 100%;
    height: 100vh;
    display: flex;
}
.login_left {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at top left, #1e3a8a, #3b82f6, #1e3a8a);
    background-blend-mode: overlay;
    filter: drop-shadow(0 0 5px white)
}
.login_right{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 30vh;
}
.login_right h1{
    font-size: 40px;
    color: #1e3a8a;
    font-weight: 500;
    margin-bottom: 10px;
}
.login_form label{
    font-size: 17px;
    margin-bottom: 2px;
    color: #1e3a8a;
}
.login_form input{
    height: 35px;
    border: 1px solid #1e3a8a;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
    margin-bottom: 30px;
}
.login_btn{
    height: 40px;
    border-radius: 5px;
    background-color: #1e3a8a;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: .2s;
    cursor: pointer;
}
.login_btn:hover{
    background-color: #fff;
    border: 1px solid #1e3a8a;
    color: #1e3a8a;
}
.login_btn:active{
    background-color: #1e3a8a;
    color: #fff;
    border: none;
}
@media screen and (max-width: 850px ) {
    .login{
        flex-wrap: wrap;
    }
    .login_left{
        height: 70vh;
        width: 100%;
    }
    .login_right{
        height: 70vh;
        width: 100%;
    }
    .login_form{
        /* border: 1px solid red; */
        height: 50vh;
    }
}
@media screen and (max-width:455px) {
    .login_form{
        padding: 0 20px;
        width: 100%;
    }
}